<div class="nav-container">
    <div class="left-nav">
        <div class="time-container">
            <h1 class="time">
                09:30
                <br>
                <span class="color">PM</span>
            </h1>
        </div>
        <div class="icon-container">

        </div>
        <div class="menu-container">

        </div>
    </div>
    <div class="middle-container">
        <h1 class="nav-logo">
            AFTERCARE
        </h1>
    </div>
    <div class="right-container">
        <h1>
            ADD PATIENT
        </h1>
    </div>
</div>