h2{
    font-family:Georgia, 'Roboto-Medium', Times, sans-serif;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}